<%= render 'shared/navbar' %>
<div class="container-map">
  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >
  </div>

  <% if user_signed_in? %>
    <div class="count_places">
      <p class="count"> You have visited: <%= @my_visited_places.count %> of <%= @countries.count %> countries</p>
      <p> See the countries you have visited:</p>
      <i class="fas fa-chevron-down toggle-visited"></i>
       <div class="hiden-visited">
        <ul>
          <% @my_visited_places.sort.each do |country| %>
            <li class="country-list"><%= link_to country.name, country_path(country) %></li>
              <% end %>
        </ul>
       </div>

      <p class="count"> And you are currently planning on visiting: <%= @my_planned_places.count %> of <%= @countries.count %> countries</p>
      <p> See the countries you want to visit:</p>
      <i class="fas fa-chevron-down toggle-visited-2"></i>
       <div class="hiden-planned">
        <ul>
          <% @my_planned_places.sort.each do |country| %>
            <li class="country-list"><%= link_to country.name, country_path(country) %></li>
              <% end %>
        </ul>
       </div>
    </div>
  </div>
<% end %>
