
<div class="displayed-map">
  <div
    id="map-show"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
   <div id="lat"><%= @country.latitude %></div>
   <div id="long"><%= @country.longitude%></div>

  <div class="my-visited-places">
    <h2><%= @country.name.capitalize %></h2>
    <div class ="visited">
      <div class="form-group">
      <%= form_for(@country) do |f| %>
       <%= f.label :visited %>
       <%= f.check_box :visited %>
      </div>
      <div class="form-group">
       <%= f.label :planned %>
       <%= f.check_box :planned %>
      </div>
       <%=f.submit  %>
       <% end %>
    </div>
    <%= link_to "Back to countries", root_path  %>
  </div>
</div>
